/* Mobile Responsive */
@media(max-width:768px){

    .services-box{
        margin:20px;
        padding:25px;
    }

    .service-card{
        width:100%;
    }
}

.tagline{
    font-size: 12px;
    color: #ddd;
    margin-top: 5px;
    text-align: center;
}
    nav{
        flex-direction:column;
        padding:20px;
        text-align:center;
    }

   nav ul{
    display:flex;
    align-items:center;
    gap:40px;
    list-style:none;
    margin:0;
    padding:0;
}

nav ul li{
    list-style:none;
}

nav ul li::marker{
    content:"";
}

    .logo{
        font-size:22px;
    }

    .tagline{
        font-size:12px;
        text-align:center;
    }

    .hero img{
        width:130px;
        height:130px;
    }

    .hero h1{
        font-size:34px;
    }

    .hero p{
        font-size:20px;
    }

    .card{
        width:90%;
    }

    .services-box{
        margin:20px;
        padding:25px;
    }

    .service-card{
        width:100%;
    }
}

/* حركة الصورة */
.profile-img{
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0px);
    }
}

/* Navbar links */
nav ul li a{
    text-decoration:none;
    color:white;
    font-size:20px;
    font-weight:bold;
    transition:0.3s;
}

nav ul li a:hover{
    color:gold;
}
